Template: @@NAME@@/add-apt-repo
Type: boolean
Default: false
Description: Add CONSTRUCT IDE apt repository?
 The installer would like to add the CONSTRUCT repository and signing
 key to update CONSTRUCT IDE through apt.
