Template: @@NAME@@/add-apt-repo
Type: boolean
Default: false
Description: Add Kovix IDE apt repository?
 The installer would like to add the Kovix repository and signing
 key to update Kovix IDE through apt.
